<ul>
  {{#each this}}
    <li class="comments-style">
      <b>
        {{user.username}}
      </b>
      on
      {{format_date created_at}}
      <i>
        {{comment_text}}
      </i>
    </li>
  {{/each}}
</ul>