{{! Sign up form: }}
<div class="row center">
  <div class="col-lg-7 col-md-7 col-sm-12">

      <form class="form-control m-5 shadow">
        <div>
          <label for="username-signup" class="form-label">
            Username:
          </label>
          <input type="text" id="username-signup" class="form-control" />
        </div>
        <div>
          <label for="email-signup" class="form-label">
            Email:
          </label>
          <input type="text" id="email-signup" class="form-control" />
        </div>
        <div>
          <label for="password-signup" class="form-label">
            Password:
          </label>
          <input type="password" id="password-signup" class="form-control" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary mt-4">
            Signup
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/javascript/signup.js"></script>